<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="static\style.css" />
</head>
<body>
    <div>
        <header class="header">
          <a href="/" class="logo"> 
            <img src="static\images\mystery_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" style="width:25px;height: 25px;"/>
            GlaucoDetect
        </a>
            <nav class="navbar">
              <a href="/">Home</a>
              <a href="/about"> About</a>
              <a href="/services">Services</a>
              <a href="/reviews">Reviews</a>
              <a href="/blogs">Blogs</a>
              
            </nav>
      
            <div id="menu-btn" class="fas fa-bars" onClick="{handleClick}">
              <GiHamburgerMenu />
            </div>
          </header>
        <section id="about" class="about">
            <h1 class="heading"><span>about</span>us</h1>
            <div class="row">
                <div class="image">
                    <img src="static\images\OIP.jpeg" alt="" style="width: 100%;">
                </div>

                <div class="content">
                    <h3>we check your Eye</h3>
                    <p>Welcome to Glaucodetect, where innovation meets compassion in the realm of eye health. At Glaucodetect, our vision is clear: to empower individuals with advanced technology for early detection and management of glaucoma. We believe that everyone deserves access to reliable, efficient, and user-friendly tools to safeguard their precious gift of sight.</p>
                    <h3>Our Vision:</h3>
                    <p>At Glaucodetect, we envision a world where preventable blindness becomes a thing of the past. By harnessing the power of technology and human ingenuity, we're working towards a future where early detection and intervention are not just possibilities, but the standard of care for all individuals at risk of glaucoma.</p>
                    <h3> Our Mission: </h3>
                    <p>Our mission at Glaucodetect is simple yet profound: to redefine the landscape of eye health diagnostics through groundbreaking technology and unwavering commitment to excellence. We strive to bridge the gap between cutting-edge research and everyday accessibility, ensuring that our users receive the best possible care regardless of geographical or socioeconomic barriers.</p>
                    <h3>Our Commitment to Excellence:</h3>
                    <p>At Glaucodetect, excellence isn't just a goal; it's our guiding principle. We continuously strive to push the boundaries of what's possible, leveraging the latest advancements in technology and the collective wisdom of our team to deliver unparalleled accuracy, reliability, and convenience to our users.</p>
                    <a href="/" class="btn">Learn More <span>&#8594;</span></a>
                </div>
            </div>
        </section>
      </div>
        <footer id="footer" class="footer">
          <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
          </div>
          <p>Copyright &copy;2024 | All Rights Reserved</p>
          </footer>
</body>
</html>
