<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glaucoma Blogs</title>
    <link rel="stylesheet" href="static\style.css" />
</head>
<body>
    <div>
        <header class="header">
            <a href="/" class="logo"> 
                <img src="static\images\mystery_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" style="width:25px;height: 25px;"/>
                GlaucoDetect
            </a>
            <nav class="navbar">
              <a href="/">Home</a>
              <a href="/about"> About</a>
              <a href="/services">Services</a>
              <a href="/reviews">Reviews</a>
              <a href="/blogs">Blogs</a>
              
            </nav>
      
            <div id="menu-btn" class="fas fa-bars" onClick="{handleClick}">
              <GiHamburgerMenu />
            </div>
          </header>
        <section id="blogs" class="blogs">
            <h1 class="heading">Blogs on <span>Glaucoma</span></h1>
            <div class="box-container">
                <div class="box">
                    <div class="image">
                        <img src="static\images\blog1.jpeg" alt="" />
                    </div>
                    <div class="content">
                        <div class="icon">
                            <a href="/"><i class="fa fa-calendar"></i>1st March, 2024</a>
                            <a href="/"><i class="fa fa-user"></i>by Admin</a>
                        </div>
                        <h3>Latest Research Insights:</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus ipsa, dolore consectetur quaerat corporis voluptas aliquam aliquid officiis modi omnis.</p>
                        <a href="/" class='btn'>learn more <span>&#8594;</span></a>
                    </div>
                </div>

                <div class="box">
                    <div class="image">
                        <img src="static\images\blog2.jpeg" alt="" />
                    </div>
                    <div class="content">
                        <div class="icon">
                            <a href="/"><i class="fa fa-calendar"></i>27th March, 2024</a>
                            <a href="/"><i class="fa fa-user"></i>by Admin</a>
                        </div>
                        <h3>Eye Health Tips:</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus ipsa, dolore consectetur quaerat corporis voluptas aliquam aliquid officiis modi omnis.</p>
                        <a href="/" class='btn'>learn more <span>&#8594;</span></a>
                    </div>
                </div>

                <div class="box">
                    <div class="image">
                        <img src="static\images\blog3.jpeg" alt="" />
                    </div>
                    <div class="content">
                        <div class="icon">
                            <a href="/"><i class="fa fa-calendar"></i>10th April, 2024</a>
                            <a href="/"><i class="fa fa-user"></i>by Admin</a>
                        </div>
                        <h3>Healthy Living Lifestyle:</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus ipsa, dolore consectetur quaerat corporis voluptas aliquam aliquid officiis modi omnis.</p>
                        <a href="/" class='btn'>learn more <span>&#8594;</span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer id="footer" class="footer">
      <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
      </div>
      <p>Copyright &copy;2024 | All Rights Reserved</p>
      </footer>
</body>
</html>
