<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="static\style.css" />
  </head>
  <body>
    <header class="header">
      <a href="/" class="logo"
        ><i><FaEye /></i> GlaucoDetect</a
      >
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/about"> About</a>
        <a href="/service">Services</a>
        <a href="/review">Reviews</a>
        <a href="/blog">Blogs</a>
        <a href="/">Treatments</a>
        <a href="/">Hospitals</a>
      </nav>

      <div id="menu-btn" class="fas fa-bars" onClick="{handleClick}">
        <GiHamburgerMenu />
      </div>
    </header>
    <section id="home" class="home">



        <div class="content">
            <h3>Stay Safe, Stay Healthy</h3>
            <p>Empowering Early Detection for Healthy Eyes. Detecting Glaucoma,saving sights.See the future of Eye Health</p>
            <a href="/" class='btn' >Check Your Eyes <span class='fas fa-chevron-right'>&#8594;</span></a>
        </div>

        
        <div class="image">
           <img src="static\images\OIP.jpeg" alt="" />
            
        </div>
    </section>
    <footer id="footer" class="footer">
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
        <p>Copyright &copy;2024 | All Rights Reserved</p>
      </footer>
  </body>
</html>
