<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Reviews</title>
    <link rel="stylesheet" href="static\style.css" />
</head>
<body>
    <div>
        <header class="header">
            <a href="/" class="logo"> 
                <img src="static\images\mystery_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" style="width:25px;height: 25px;"/>
                GlaucoDetect
            </a>
            <nav class="navbar">
              <a href="/">Home</a>
              <a href="/about"> About</a>
              <a href="/services">Services</a>
              <a href="/reviews">Reviews</a>
              <a href="/blogs">Blogs</a>
              
            </nav>
      
            <div id="menu-btn" class="fas fa-bars" onClick="{handleClick}">
              <GiHamburgerMenu />
            </div>
          </header>
        <section id="review" class="review">
            <h1 class="heading">User's <span>Reviews</span></h1>
            <div class="box-container">
                <div class="box">
                    <img src="static\images\th (3).jpeg" alt="" />
                    <h3>Sohel Beg</h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p class="text">Glaucodetect has been a game-changer for me. With its fast and accurate diagnosis, I feel more confident in managing my glaucoma. Highly recommended!</p>
                </div>

                <div class="box">
                    <img src="static\images\th (3).jpeg" alt="" />
                    <h3>Adinath Bharose</h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p class="text">I'm truly impressed by the instant results provided by Glaucodetect. It's convenient, reliable, and has become an essential tool in my eye health routine.</p>
                </div>

                <div class="box">
                    <img src="static\images\th (3).jpeg" alt="" />
                    <h3>Ganesh Zambre</h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p class="text">As a healthcare professional, I highly value the expert consultation offered by Glaucodetect. It's a valuable resource for both patients and practitioners alike.</p>
                </div>

                <div class="box">
                    <img src="static\images\th (3).jpeg" alt="" />
                    <h3>Harshad Albhar</h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p class="text">The 24/7 availability of Glaucodetect ensures peace of mind, knowing that support is just a click away. Thank you for the excellent service!</p>
                </div>

                <div class="box">
                    <img src="static\images\th (3).jpeg" alt="" />
                    <h3>Sanjana Hatture</h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p class="text">The free checkup offered by Glaucodetect is a fantastic initiative. It removes barriers to access and promotes early detection for better eye health outcomes.</p>
                </div>

                <div class="box">
                    <img src="static\images\th (3).jpeg" alt="" />
                    <h3>Dipali Patil</h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p class="text">Thanks to Glaucodetect's early detection capabilities, I was able to catch my glaucoma in its early stages. It's been a lifesaver for me!</p>
                </div>

                <div class="box">
                    <img src="static\images\th (3).jpeg" alt="" />
                    <h3>Pratik Bhure</h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p class="text">I'm amazed by the accuracy of Glaucodetect's diagnosis. It's incredibly reliable and has become an indispensable tool in my eye care routine.</p>
                </div>

                <div class="box">
                    <img src="static\images\th (3).jpeg" alt="" />
                    <h3>Samiksha Lakhole</h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p class="text">The fundus images prediction feature of Glaucodetect provides valuable insights into my eye health. It's like having a crystal ball for my vision!</p>
                </div>

            </div>
        </section>
    </div>
    <footer id="footer" class="footer">
      <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
      </div>
      <p>Copyright &copy;2024 | All Rights Reserved</p>
      </footer>
</body>
</html>
