<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Services</title>
    <link rel="stylesheet" href="static\style.css" />
  </head>
  <body>
    <div>
      <header class="header">
        <a href="/" class="logo"> 
          <img src="static\images\mystery_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" style="width:25px;height: 25px;"/>
          GlaucoDetect
      </a>
        <nav class="navbar">
          <a href="/">Home</a>
          <a href="/about"> About</a>
          <a href="/services">Services</a>
          <a href="/reviews">Reviews</a>
          <a href="/blogs">Blogs</a>
          
        </nav>
  
        <div id="menu-btn" class="fas fa-bars" onClick="{handleClick}">
          <GiHamburgerMenu />
        </div>
      </header>
      <section id="services" class="services">
        <h1 class="heading">our <span>services</span></h1>
        <div class="box-container">
          <div class="box">
            <i><TbCheckupList /></i>
            <h3>Free Checkups</h3>
            <p>
              Take advantage of our complimentary checkup offer, making essential eye health assessments accessible to all.
            </p>
            <p>
Experience the benefit of a free eye checkup, promoting early detection and prevention without financial barriers.
            </p>
            <a href="/" class="btn">Learn More <span>&#8594;</span></a>
          </div>

          <div class="box">
            <i><AiOutlinePushpin /></i>
            <h3>24/7 Available</h3>
            <p>
              Access our services round the clock, providing support and assistance whenever and wherever you need it.
            </p>
            <p>
              Enjoy the convenience of our 24/7 availability, ensuring access to essential eye care resources at your convenience.
            </p>
            <a href="/" class="btn">Learn More <span>&#8594;</span></a>
          </div>

          <div class="box">
            <i><AiTwotoneFund /></i>
            <h3>Accuracy</h3>
            <p>
              Trust in our cutting-edge algorithms for precise diagnosis, ensuring accuracy you can rely on.
            </p>
            <p>
Experience confidence in your results with our advanced technology, delivering unparalleled accuracy.
            </p>
            <a href="/" class="btn">Learn More <span>&#8594;</span></a>
          </div>

          <div class="box">
            <i><LiaRobotSolid /></i>
            <h3>Early Detection</h3>
            <p>
              Detect glaucoma in its early stages with our proactive screening, offering better prognosis and treatment outcomes.
            </p>
            <p>
              Stay ahead of potential eye health issues with our early detection capabilities, prioritizing preventive care for lasting wellness.
            </p>
            <a href="/" class="btn">Learn More <span>&#8594;</span></a>
          </div>

          <div class="box">
            <i><FaHospitalAlt /></i>
            <h3>Fundus Images Prediction</h3>
            <p>
              Harness the power of predictive analytics using fundus images, foreseeing potential risks and guiding proactive measures.
            </p>
            <p>
Unlock valuable insights from fundus image analysis, predicting future trends in eye health to empower informed decision-making.
            </p>
            <a href="/" class="btn">Learn More <span>&#8594;</span></a>
          </div>

          <div class="box">
            <i><AiOutlineSchedule /></i>
            <h3>Instant Result</h3>
            <p>
              Receive immediate feedback with our rapid result delivery, empowering proactive action for optimal eye health.</p>
              <p>
Get instant insights into your eye health status, enabling swift decision-making and timely interventions.
.
            </p>
            <a href="/" class="btn">Learn More <span>&#8594;</span></a>
          </div>
        </div>
        
      </div>
    </section>
  </div>
  <footer id="footer" class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <p>Copyright &copy;2024 | All Rights Reserved</p>
  </footer>

  </body>
</html>
